SUPABASE_URL=https://hcilwbispstkjhiqwvwo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjaWx3YmlzcHN0a2poaXF3dndvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODE4MDg1MiwiZXhwIjoyMTAzNzU2ODUyfQ.3_U_yjt4_UkeHJcAtmqDiPgHHoeZJanAD6uGrDWoE6s
GEMINI_API_KEY=AQ.Ab8RN6IUYCvkjoud63GfM2FELpG3MaBX6CBlamOeeOtFGkwb4A
